.container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pomodoro-config-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.confirm-button {
  margin-top: 100px;
  background-color: var(--background-secundary);
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}